body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    display: flex;
    margin: 50px auto;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.img-02 {
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.485);

}

.img-03 {
    display: none;

}

.text {
    font-size: 18px;
    color: #333;
    text-align: left;
    padding: 10px;
    border-radius: 3vh;
    border: 1px solid gray;
}

ul {
    display: flex;
    gap: 20px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: rgba(128, 128, 128, 0.241);
    justify-content: center;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    padding: 5px;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.079);border-top: 1px solid rgba(0, 0, 0, 0.082);
    border-radius: 2vh;
}

a:hover {
    background-color: rgba(128, 128, 128, 0.156);
    border: 1px solid rgba(0, 0, 0, 0.068);
    border-radius: 5vh;

    transition: 1.3s;
    color: rgb(65, 16, 16);
}

li {
    list-style: none;
}

footer {

    border-radius: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.208);
    margin: 2rem;
    padding: 10px;
    text-align: center;
}

.link-02 {
    color: rgba(0, 0, 0, 0.693);
}

.link-02:hover {
    border: 1px solid black;
}


h1 {
    text-align: center;
    margin: 20px auto;
    background-color: rgba(146, 140, 140, 0.378);
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.255);
    border-radius: 2vh;
}





@media screen and (max-width:768px) {
    .container {
        max-width: 70%;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }

    .img-02 {
        display: none;

    }

    .img-03 {
        max-width: 80%;
        margin: auto;
        display: flex;
        border: 1px solid black;
    }

    .link-02:hover {
        border: none;
        background-color: #f0f0f0;


    }

    .link-02 {
        color: rgba(0, 0, 0, 0.693);
    }
}